<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIEducation"
        tools:targetApi="31">
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.HomepageStuActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.FaceInfoActivity" />
        <activity android:name=".activity.MessagesActivity" />
        <activity android:name=".activity.VersionInfoActivity" />
        <activity android:name=".activity.CourseActivityStu" />
        <activity android:name=".activity.CourseActivityTe" />
        <activity android:name=".activity.AttendanceActivityStu" />
        <activity android:name=".activity.AttendanceActivityTe" />
        <activity android:name=".activity.VoiceToTextActivity" />
        <activity android:name=".activity.LeaveActivityStu" />
        <activity android:name=".activity.LeaveActivityTe" />
        <activity android:name=".activity.ReportActivityStu" />
        <activity android:name=".activity.WrongBookActivity" />
        <activity android:name=".activity.HomepageTeActivity" />




        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="online.manongbbq.aieducation.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 文件读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

</manifest>